@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<div class="col-md-12">
    <div class="row">
        <h1>Artigos</h1>
        <div>
            @Html.Action("BlogPosts", "Admin")
        </div>
    </div>
</div>
