<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=db4pshop.cfeo6p4fi7st.us-east-1.rds.amazonaws.com;Initial Catalog=BlogVarellaMotos;User ID=varellamotos;Password=gHq^O,y%+1h,~%5s;Connection Timeout=40000;" providerName="System.Data.SqlClient" />
    <add name="BlogVarellaMotosEntities" connectionString="metadata=res://*/DAL.BlogVarellaMotosData.csdl|res://*/DAL.BlogVarellaMotosData.ssdl|res://*/DAL.BlogVarellaMotosData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=db4pshop.cfeo6p4fi7st.us-east-1.rds.amazonaws.com;Initial Catalog=BlogVarellaMotos;User ID=varellamotos;Password=gHq^O,y%+1h,~%5s;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="DefaultConnection" connectionString="Data Source=A2NWPLSK14SQL-v06.shr.prod.iad2.secureserver.net;Initial Catalog=BlogVarellaMotos;User ID=4pbox;Password=6nab4vNZ9UDRhJS6fLTj*4pbox;Connection Timeout=40000;" providerName="System.Data.SqlClient" />
    <add name="BlogVarellaMotosEntities" connectionString="metadata=res://*/DAL.BlogVarellaMotosData.csdl|res://*/DAL.BlogVarellaMotosData.ssdl|res://*/DAL.BlogVarellaMotosData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=A2NWPLSK14SQL-v06.shr.prod.iad2.secureserver.net;Initial Catalog=BlogVarellaMotos;User ID=4pbox;Password=6nab4vNZ9UDRhJS6fLTj*4pbox;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MailHost" value="smtp.sendgrid.net" />
    <add key="MailPort" value="587" />
    <add key="MailSendGrid" value="apikey" />
    <add key="MailUser" value="noreply@varellamotos.com.br" />
    <add key="MailPassword" value="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" />
    <add key="PastaModelosEmail" value="Reports\" />
    <add key="ModeloDefaultEmail" value="(modelo email) - Default.html" />
    <add key="caminhoImagens" value="Images/Email" />
    <add key="HTTPS" value="false" />
    <add key="NomeSistema" value="Blog Valrella Motos" />
    <add key="TituloSistema" value="Blog Valrella Motos" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5" />
    <httpRuntime maxRequestLength="1024000" executionTimeout="1200" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 60817989-7FB2-41A9-BABD-D484C29E2101-->
